streamlit==1.56.0
streamlit-image-coordinates==0.4.0
pandas==2.3.3
numpy==2.4.4
torch==2.11.0
torchvision==0.26.0
torch-utils==0.1.2
opencv-python==4.13.0.92
albucore==0.0.16
albumentations==1.4.14
matplotlib==3.10.8
scikit-image==0.26.0
scikit-learn==1.8.0
glob2==0.7
segmentation-models-pytorch==0.5.0
stqdm==0.2.0
easyocr==1.7.2
openpyxl==3.1.5